# Imports

In [1]:
#!/usr/bin/env python
# coding: utf-8
import os
import sys
import json
import time
import pickle
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
base_dir = "./Data"
dirs = ["01", "02", "03", "04"]
title = "XAUUSD1.csv"

In [3]:
files = []
for _dir in dirs:
    df = pd.read_csv(f'{base_dir}/{_dir}/{title}', sep="\t", header=None)
    if df.iloc[0,0].lower() == "time":
        df = df.iloc[1:,:]
    df.columns = ["Time", "Open", "High", "Low", "Close", "Volume"]            
    files.append( df)

<ipython-input-3-c81627139f4d>:3: DtypeWarning: Columns (1,2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f'{base_dir}/{_dir}/{title}', sep="\t", header=None)

# concat all df together

In [4]:
df = pd.concat(files)
df.shape

(800000, 6)

# sort and drop duplications time

In [5]:
df['Time'] = pd.to_datetime(df['Time'])
df = df.sort_values(by='Time')
df = df.drop_duplicates(subset=['Time'])
print(df.shape)
df.head()

(615891, 6)

                 Time      Open      High       Low     Close Volume
0 2022-08-02 22:02:00  1761.724  1761.784  1761.208  1761.264      1
1 2022-08-02 22:03:00  1761.244  1761.754  1761.148  1761.438      1
2 2022-08-02 22:04:00  1761.428  1761.498  1761.058  1761.475      1
3 2022-08-02 22:05:00  1761.475  1761.528  1760.998  1761.498      1
4 2022-08-02 22:06:00  1761.498  1762.268  1761.498  1762.104      1

In [6]:
df.tail()

                      Time      Open      High       Low     Close Volume
199995 2024-04-24 14:55:00  2329.265  2330.048  2329.095  2329.095      1
199996 2024-04-24 14:56:00  2329.045  2329.168  2328.208  2328.508      1
199997 2024-04-24 14:57:00  2328.508  2329.375  2328.275  2329.268      1
199998 2024-04-24 14:58:00  2329.174  2330.248  2328.725  2329.138      1
199999 2024-04-24 14:59:00  2329.138  2329.595  2328.715  2329.578      1

In [7]:
df.to_csv("./Temp/data1.csv")